<div class="panel panel-default">
    <div class="panel-heading">Дополнительные действия</div>
    <div class="panel-body">
        <div class="col-xs-18 col-md-12">
            <button class="btn btn-success btn-block" id="startParserAction">Обновить</button>
            <button class="btn btn-danger btn-block" id="clearDatabaseAction">Очистить</button>
            <a href="{{ path('dumpDatabase') }}" class="btn btn-info btn-block" id="dumpDatabaseAction">Скачать дамп БД</a>
        </div>
    </div>
</div>